### Project 2- ETL

In [1]:
# Dependencies
import numpy as np
import pandas as pd

In [2]:
file = "2015.csv"
df2015 = pd.read_csv(file)
df2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [3]:
df2015.insert(loc=1, column="year", value="2015")
df2015

,Country,year,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,2015,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2015,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,2015,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,2015,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,2015,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,2015,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,2015,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,2015,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,2015,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,2015,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [4]:
file = "2016.csv"
df2016 = pd.read_csv(file)
df2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [5]:
df2016.insert(loc=1, column="year", value="2016")
df2016

,Country,year,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,2016,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,2016,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,2016,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,2016,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,2016,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,2016,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,2016,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,2016,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,2016,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,2016,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [6]:
frames = [df2015, df2016]

result = pd.concat(frames)
result

,Country,year,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Lower Confidence Interval,Upper Confidence Interval
0,Switzerland,2015,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,NaN,NaN
1,Iceland,2015,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,NaN,NaN
2,Denmark,2015,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,NaN,NaN
3,Norway,2015,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,NaN,NaN
4,Canada,2015,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,2016,Sub-Saharan Africa,153,3.484,NaN,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812,3.404,3.564
153,Afghanistan,2016,Southern Asia,154,3.360,NaN,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558,3.288,3.432
154,Togo,2016,Sub-Saharan Africa,155,3.303,NaN,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540,3.192,3.414
155,Syria,2016,Middle East and Northern Africa,156,3.069,NaN,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789,2.936,3.202
156,Burundi,2016,Sub-Saharan Africa,157,2.905,NaN,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404,2.732,3.078

In [7]:
result = result.drop(columns=['Lower Confidence Interval', 'Upper Confidence Interval'])

In [8]:
result = result.fillna("")

In [9]:
happy_transformed = result.copy()

# Rename the column headers
happy_transformed = happy_transformed.rename(columns={"Happiness Rank": "happiness_rank",
                                                         "Happiness Score": "happiness_score",
                                                         "Standard Error": "standard_error",
                                                         "Economy (GDP per Capita)": "gpd_per_capita",
                                                         "Health (Life Expectancy)": "life_expectancy",
                                                         "Trust (Government Corruption)": "government_corruption",
                                                         "Dystopia Residual": "dystopia_residual"
                                                     })
happy_transformed

,Country,year,Region,happiness_rank,happiness_score,standard_error,gpd_per_capita,Family,life_expectancy,Freedom,government_corruption,Generosity,dystopia_residual
0,Switzerland,2015,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,2015,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,2015,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,2015,Western Europe,4,7.522,0.0388,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,2015,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,2016,Sub-Saharan Africa,153,3.484,,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,2016,Southern Asia,154,3.360,,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,2016,Sub-Saharan Africa,155,3.303,,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,2016,Middle East and Northern Africa,156,3.069,,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,2016,Sub-Saharan Africa,157,2.905,,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [10]:
file = "master.csv"
ss = pd.read_csv(file)
ss.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [11]:
ss = ss.fillna("")

In [12]:
ss_transformed = ss.copy()

# Rename the column headers
ss_transformed = ss_transformed.rename(columns={"suicides/100k pop": "suicides_per100k_pop",
                                                         "country-year": "country_year",
                                                         "HDI for year": "hdi_for_year",
                                                         "gdp_for_year ($)": "gdp_for_year",
                                                         "gdp_per_capita ($)": "gdp_per_capita"
                                                     })
ss_transformed

,country,year,sex,age,suicides_no,population,suicides_per100k_pop,country_year,hdi_for_year,gdp_for_year ($),gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [13]:
columns = [
    "country", 
    "year",  
    "suicides_no", 
    "suicides/100k pop"
]
#print(columns)
red_df = ss[columns]
red_df

          country  year  suicides_no  suicides/100k pop
0         Albania  1987           21               6.71
1         Albania  1987           16               5.19
2         Albania  1987           14               4.83
3         Albania  1987            1               4.59
4         Albania  1987            9               3.28
...           ...   ...          ...                ...
27815  Uzbekistan  2014          107               2.96
27816  Uzbekistan  2014            9               2.58
27817  Uzbekistan  2014           60               2.17
27818  Uzbekistan  2014           44               1.67
27819  Uzbekistan  2014           21               1.46

[27820 rows x 4 columns]

In [14]:
ss_15_df = red_df.loc[(red_df["year"] == 2015)]
ss_15_df

                   country  year  suicides_no  suicides/100k pop
576    Antigua and Barbuda  2015            1              15.62
577    Antigua and Barbuda  2015            0               0.00
578    Antigua and Barbuda  2015            0               0.00
579    Antigua and Barbuda  2015            0               0.00
580    Antigua and Barbuda  2015            0               0.00
...                    ...   ...          ...                ...
27551              Uruguay  2015           23               9.91
27552              Uruguay  2015           38               8.63
27553              Uruguay  2015           17               6.66
27554              Uruguay  2015            3               1.19
27555              Uruguay  2015            2               0.83

[744 rows x 4 columns]

In [15]:
summed= ss_15_df.groupby(['country'])['suicides_no','suicides/100k pop'].sum()
summed

<ipython-input-15-cbd6bc0a25df>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summed= ss_15_df.groupby(['country'])['suicides_no','suicides/100k pop'].sum()

                     suicides_no  suicides/100k pop
country
Antigua and Barbuda            1              15.62
Argentina                   3073             112.13
Armenia                       74              45.28
Australia                   3027             154.18
Austria                     1251             194.62
...                          ...                ...
Turkmenistan                 133              28.48
Ukraine                     7574             244.72
United Kingdom              4910              86.74
United States              44189             175.41
Uruguay                      630             270.02

[62 rows x 2 columns]

In [16]:
ss_16_df = red_df.loc[(red_df["year"] == 2016)]
ss_16_df

        country  year  suicides_no  suicides/100k pop
1248    Armenia  2016           12              19.37
1249    Armenia  2016           16               6.73
1250    Armenia  2016           16               4.56
1251    Armenia  2016            5               2.47
1252    Armenia  2016            2               1.95
...         ...   ...          ...                ...
25307  Thailand  2016           69               4.34
25308  Thailand  2016          222               3.67
25309  Thailand  2016          375               3.53
25310  Thailand  2016          116               2.47
25311  Thailand  2016           60               1.33

[160 rows x 4 columns]

In [17]:
summed6= ss_16_df.groupby(['country'])['suicides_no','suicides/100k pop'].sum()
summed6

<ipython-input-17-da8efd9c5a1e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  summed6= ss_16_df.groupby(['country'])['suicides_no','suicides/100k pop'].sum()

                suicides_no  suicides/100k pop
country
Armenia                  67              40.56
Austria                1201             183.23
Croatia                 683             213.56
Cyprus                   36              47.15
Czech Republic         1318             161.76
Grenada                   0               0.00
Hungary                1761             241.34
Iceland                  40             138.07
Lithuania               822             361.72
Mauritius                98              99.30
Mongolia                423             184.39
Netherlands            1886             127.39
Qatar                    68              16.43
Romania                1953             116.33
Sweden                 1130             138.84
Thailand               4117              77.32

In [18]:
pip install pycountry

Collecting pycountry
  Downloading pycountry-20.7.3.tar.gz (10.1 MB)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (setup.py): started
  Building wheel for pycountry (setup.py): finished with status 'done'
  Created wheel for pycountry: filename=pycountry-20.7.3-py2.py3-none-any.whl size=10746863 sha256=75b86edefd40ea45b34482642e15dd499f2def7ba2cd1c89c5cbf4b8f81259a2
  Stored in directory: c:\users\susan\appdata\local\pip\cache\wheels\09\eb\0d\4ee773c6a4aadc2a43cb5c1d07f268f13c4cdc0eec88e7c1ef
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-20.7.3
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pycountry

In [20]:
def do_fuzzy_search(country):
    try:
        result = pycountry.countries.search_fuzzy(country)
    except Exception:
        return np.nan
    else:
        return result[0].alpha_3

In [21]:
iso_map = {country: do_fuzzy_search(country) for country in happy_transformed["Country"].unique()}

happy_transformed["code"] = happy_transformed["Country"].map(iso_map)

In [22]:
happy_transformed.dropna(subset = ["code"], inplace=True)

In [23]:
happy_transformed.isnull().sum()

Country                  0
year                     0
Region                   0
happiness_rank           0
happiness_score          0
standard_error           0
gpd_per_capita           0
Family                   0
life_expectancy          0
Freedom                  0
government_corruption    0
Generosity               0
dystopia_residual        0
code                     0
dtype: int64

In [24]:
import pymongo
import pandas as pd 

connection_string = "mongodb://localhost:27017"

client = pymongo.MongoClient(connection_string)

# Declare the database
db = client.happy_db

# Declare the collection
happy = db.happy
joiner = db.joiner
suicide = db.suicide

# happy_transformed.reset_index(inplace=True)
data_dict = happy_transformed.to_dict("records")
happy.insert_many(data_dict)

data1_dict = ss_transformed.to_dict("records")
suicide.insert_many(data1_dict)

print("ETL Complete")

ETL Complete